<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="Author" content="Damilare Olatunbosun" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="css/styles.css" />
      <title>To Do List</title>
   </head>
   <body>
      <div class="box" id="heading">
         <h1><%= listTitle %></h1>
      </div>

      <div class="box">
        <% newListItems.forEach(function(item){ %>
         <form action="/delete" method="post">
            <div class="item">
               <input type="checkbox" name="checkbox" 
               onchange="this.form.submit()" 
               value="<%=item._id%> "  />
               <p><%=item.name%></p>
            </div>
         </form>
         <%}) %>

         <form action="/" class="item" method="post">
            <input
               type="text"
               name="newItem"
               placeholder="Enter new item.."
               autocomplete="off"
            />
            <button type="submit" name="list" value="<%= listTitle %>">
               +
            </button>
         </form>
      </div>
   </body>
</html>
